RewriteEngine On

RewriteCond %{REQUEST_URI} !/index.php

RewriteCond %{REQUEST_URI} !.*\.jpg$

RewriteCond %{REQUEST_URI} !.*\.png$

RewriteCond %{REQUEST_URI} !.*\.css$

RewriteCond %{REQUEST_URI} !.*\.js$

RewriteRule ^.*$ /index.php